@using Karaoke.Shared

<table class="table">
    <thead>
        <tr>
            <th>Intérprete</th>
            <th>Canción</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Songs)
        {
            <tr>
                <td>@song.Artist</td>
                <td>@song.Name</td>
                <td style="width:16px">
                    <i class="fav material-icons md-18" @onclick="@(() => OnFavorite.InvokeAsync(song))">@(song.Favorite? "favorite": "favorite_border")</i>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<Song> Songs { get; set; }

    [Parameter]
    public EventCallback<Song> OnFavorite { get; set; }
}
