@page "/"
@inject HttpClient Http

@using System.Globalization
@using System.Timers;
@using Karaoke.Shared

<h1>Karaoke entre Amigos</h1>

<div class="form-group">
    <label for="searchInput">¿Cuál vas a cantar?</label>
    <input type="text" class="form-control" id="searchInput" aria-describedby="help" @oninput="SearchChanged">
    <small id="help" class="form-text text-muted">Busca por artista o por canción.</small>
</div>

@if (songs == null)
{
    <p><em>Cargando repertorio...</em></p>
}
else
{
    <p>Total: @filteredSongs.Count()</p>
    <table class="table">
        <thead>
            <tr>
                <th>Intérprete</th>
                <th>Canción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in filteredSongs)
            {
                <tr>
                    <td>@song.Artist</td>
                    <td>@song.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Timer debounceTimer;
    private List<Song> songs;
    private List<Song> filteredSongs;
    private string searchText;

    protected override async Task OnInitializedAsync()
    {
        songs = await Http.GetFromJsonAsync<List<Song>>("Songs");
        filteredSongs = songs;

        debounceTimer = new System.Timers.Timer(500);
        debounceTimer.Elapsed += OnUserFinish;
        debounceTimer.AutoReset = false;
    }

    private void SearchChanged(ChangeEventArgs e)
    {
        debounceTimer.Stop();
        debounceTimer.Start();

        searchText = e.Value.ToString();
    }

    private void OnUserFinish(Object source, ElapsedEventArgs e)
    {
        InvokeAsync(() => { SearchSongs(); });
    }

    private void SearchSongs()
    {
        filteredSongs = songs;
        var currentSearch = searchText.ToLower().Trim();

        if (!string.IsNullOrEmpty(currentSearch))
        {
            var compareInfo = CultureInfo.InvariantCulture.CompareInfo;
            filteredSongs = filteredSongs.Where(s => compareInfo.IndexOf(s.Artist.ToLower(), currentSearch, CompareOptions.IgnoreNonSpace) > -1 ||
                compareInfo.IndexOf(s.Name.ToLower(), currentSearch, CompareOptions.IgnoreNonSpace) > -1).ToList();
        }

        base.StateHasChanged();
    }
}
